@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

:root {
  --color-white: #fafaf9;
  --color-black: #0c0a09;
  --color-black--09: rgba(12, 10, 9, 0.9);
  --color-red--500: #ef4444;
  --color-red--900: #7f1d1d;
  --color-red--950: #450a0a;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scrollbar-color: var(--color-red--900) var(--color-black);
  scrollbar-width: 2px;
}
::selection {
  background-color: var(--color-red--900);
  color: var(--color-white);
}

body {
  font: 400 1.6rem/1.5 "Roboto", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

h1,
h2 {
  line-height: 1.2;
  font-weight: 500;
  font-family: "Oswald";
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

/* Side bar custom CSS */
.sidebar__nav-title {
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.2s ease;
}
.sidebar--expanded {
  width: 35rem;

  & .sidebar__nav-title {
    opacity: 1;
  }
}

/* Utility classes */
.preview-bg {
  @apply bg-center bg-[100%_auto] hover:bg-[105%_auto] duration-300 transition-all;
}
